:root {
  // colors variables
  --bg-color: #1A2F4C;
  --main-color: #061B38;
  --emphase-color: #BF9C5A;
  --header-color: #16273E;
  --ligth-color-text: #FFFFFF;

  // margin variables
  --margin-base: 1rem;
}

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: var(--bg-color);
  color: var(--ligth-color-text);
  display: flex;
  flex-wrap: wrap;
}

// pen button (=> edit button)
.list-item-btn {
  background-color: var(--bg-color);
  color: var(--ligth-color-text);
  border: none;
}

.header {
  background-color: var(--header-color);
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--ligth-color-text);

  &-logo {
    padding: 0 1rem 0 2rem;
  }

  &-club-name {
    font-weight: bold;
    font-size: 3rem;
  }

  &-user-welcome {
    line-height: 6rem;
    padding: 0 2rem;
  }

  &-user-menu {
    margin-left: auto;
    position: relative;

    &-pannel {
      display: none;
      position: absolute;
      background-color: var(--ligth-color-text);
      right: 0;
      padding: 1rem;
      box-shadow: 0 10px 8px rgba(0,0,0,.2);

      .user-image {
        background-color: blue;
        border-radius: 10px;
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
      }

      .pannel-link {
        width: 10rem;
        padding: 0.5rem 0;
        display: block;
        color: var(--header-color);
      }

      .pannel-link:hover {
        text-decoration: underline;
      }
    }
  }

  &-user-menu:hover {
    color: var(--header-color);
    background-color: #FFFFFF;

    .header-user-menu-pannel {
      display: flex;
      align-items: center;
    }
  }

  &-member-firstname {
    font-weight: bold;
  } 
}

.menu {
  background-color: var(--main-color);
  height: calc(100% - 6rem);
  width: 18rem;
  padding: 2rem 0;
  font-size: 1.2em;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    li:last-child {
      margin-top: auto;
    }
  }
  .menu-link {
    display: block;
    color: white;
    padding: 1em;
    margin: .1em 0;
    border-right: solid 0rem var(--emphase-color);
    transition: border .2s, background-color .1s;
    &:hover {
      background-color: rgba(255,255,255,.1);
    }
    &--selected {
      color : var(--emphase-color);
      background-color: rgba(255,255,255,.1);
      border-right: solid .8rem var(--emphase-color);
    }
  }
}

.content {
  width: calc(100% - 18rem);
  padding: 1rem 2rem;
}

.dashboard {
}

.tournaments {
}

.club {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
  }
  .members-nb {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .club-profil {
    display: flex;
    justify-content: space-between;
  
      &-infos {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
      }

      &-image {
        background-color: blue;
        width: 20rem;
        height: 15rem;
      }
      
      .club-name {
        font-size: 2rem;
        font-weight: bold;
        color: var(--emphase-color);
      }

      .club-infos {
        padding: 1rem 0;
      }
      .club-info {
        padding-bottom: 1rem;
      }
  }
  &-description {
    margin-left: 2rem;
    max-width: 40rem;
  }
}

/************************/
/****** RESPONSIVE ******/
/************************/

@media only screen and (max-width: 640px) {
  .content {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .header {
    height: 15rem;
    display: flex;
    flex-direction: column;
  
    &-logo {
      padding: 1rem 0;
    }
  
    &-user-welcome {
      line-height: 2rem;
      padding: 1rem;
    }
  
    &-user-menu {
      margin: 0;
  
      &-pannel {
        position: relative;
  
        .user-image {
          margin: 0 0 1rem 0;
        }
      }
    }
  
    &-user-menu:hover {  
      .header-user-menu-pannel {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  .club-profil-image {
    display: none;
  }
}

