:root {
  // colors variables
  --bg-color: #1A2F4C;
  --main-color: #061B38;
  --emphase-color: #BF9C5A;
  --header-color: #16273E;
  --ligth-color-text: #FFFFFF;

  // font weights
  --fine:100;
  --normal:400;
  --bold:700;
  --black:900;
  
  // margin variables
  --margin-base: 1rem;
  // rounded
  --border-radius: 10px;
  // border size
  --border-size: 4px;

  // elements size
  --header-height: 6rem;
  --menu-width: 18rem; 

  // responsive sizes
  // les variables ne fonctionnent pas dans les @media
  --laptop: 1100px;
  --tablet: 810px;
  --mobile: 450px;
}

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.app {
  background-color: var(--bg-color);
  color: var(--ligth-color-text);
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: calc(100% - var(--menu-width));
  padding: 1rem 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - var(--header-height));
  @media only screen and (max-width: 1100px) {
    width: calc(100%);
  }
  @media only screen and (max-width: 450px) {
    padding: 1rem;
  }

  // page title (Tableau de bord, Tournois, Mon profil, etc...)
  .title {
    font-size: 3rem;
    font-weight: var(--fine);
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--emphase-color);
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.row {
  display: flex;
  gap: calc(2 * var(--margin-base));
  .col {
    flex: 1;
    &.align-right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--margin-base);
    }
  }
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

/* Generique */
input {
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--ligth-color-text);
  padding: .5rem 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.button {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: var(--fine);
  background-repeat: no-repeat;
  &:hover {
    outline: solid var(--border-size) var(--emphase-color);
  }
}

// pen button (=> edit button)
.list-item-btn {
  background-color: transparent;
  color: var(--ligth-color-text);
  border: none;
}

// static home
.home.content {
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  .link {
    width: 100%;
    height: 3382px;
    background-position: center top;
  }
}

.header {
  position: relative;
  background-color: var(--header-color);
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  color: var(--ligth-color-text);

  @media only screen and (max-width: 1100px) {
    justify-content: center;
  }
  @media only screen and (max-width: 450px) {
    justify-content: flex-start;
  }

  &-logo {
    padding-left: 1rem;
    img {
      display: block;
      width:80%;
      margin: auto;
    }
    @media only screen and (max-width: 450px) {
      max-width: 5rem;
    }
  }

  &-club-name {
    font-weight: var(--black);
    font-size: 3rem;
    @media only screen and (max-width: 1100px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 450px) {
      font-size: 1.5rem;
      display: none;
    }
  }

  &-user-welcome {
    line-height: var(--header-height);
    padding: 0 2rem;
  }

  &-user-menu {
    position: absolute;
    z-index: 99;
    right: 0;

    &-pannel {
      display: none;
      position: absolute;
      background-color: var(--ligth-color-text);
      right: 0;
      padding: .5rem;
      box-shadow: 0 10px 8px rgba(0,0,0,.2);
      border-radius: 0 0 0 var(--border-radius);

      .user-image {
        background-color: var(--bg-color);
        border-radius: var(--border-radius);
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .pannel-link {
        width: 10rem;
        padding: 0.5rem 0;
        display: block;
        color: var(--header-color);
      }

      .pannel-link:hover {
        text-decoration: underline;
      }
    }
  }

  &-user-menu:hover {
    color: var(--header-color);
    background-color: #FFFFFF;

    .header-user-menu-pannel {
      display: flex;
      align-items: center;
    }
  }

  &-member-firstname {
    font-weight: bold;
  } 
}

.menu {
  background-color: var(--main-color);
  height: calc(100% - var(--header-height));
  width: var(--menu-width);
  padding: 2rem 0;
  font-size: 1.2em;
  @media only screen and (max-width: 1100px) {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--menu-width));
    z-index: 999;
    height: 100%;
    padding-top: 5rem;
    transition: left .4s;
    &.open {
      left: 0;
      box-shadow: 0 0 100px black;
    }
    @media only screen and (max-width: 450px) {
      padding: 1rem;
      width: 100%;
      left: -100%;
    }
  }
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 450px) {
      justify-content: center;
    }
    li:last-child {
      margin-top: auto;
      @media only screen and (max-width: 450px) {
        margin-top: initial;
      }
    }
  }
  .menu-link {
    display: block;
    color: white;
    padding: 1em;
    margin: .1em 0;
    border-right: solid 0rem var(--emphase-color);
    transition: border .2s, background-color .1s;
    @media only screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
    &:hover {
      background-color: rgba(255,255,255,.1);
    }
    &--selected {
      color : var(--emphase-color);
      background-color: rgba(255,255,255,.1);
      border-right: solid .8rem var(--emphase-color);
    }
  }
  .toggle-menu-button {
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1000;
    display: none;
    @media only screen and (max-width: 1100px) {
      display: block;
    }
    @media only screen and (max-width: 450px) {
      top: initial;
      left: initial;
      bottom: 1rem;
      right: 1rem;
    }
  }
}

.create-tournament-button {
  background-image: url(../../assets/img/icon-arrow-right.svg);
  background-position: right 2rem center;
  span {
    font-weight: var(--bold);
  }
  @media only screen and (max-width: 450px) {
    flex-direction: column;
  }
}

// Tableau de bord
.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  @media only screen and (max-width: 450px) {
    gap: 1rem;
  }
  .dashboard-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex: 1;
    width: calc( calc(100% - 6rem) / 4);
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    min-height: 12rem;
    @media only screen and (max-width: 1100px) {
      width: calc( calc(100% - 2rem) / 2);
    }
    @media only screen and (max-width: 450px) {
      width: calc( calc(100% - 1rem) / 2);
    }
    &:hover {
      outline: solid var(--border-size) var(--emphase-color);
      .widget-icon {
        transform: scale(1.3);
      }
    }
    .widget-icon {
      transition: transform .2s;
    }
    .fa {
      color: var(--emphase-color);
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p:first-of-type {
      font-size: 1.8rem;
      font-weight: 900;
    }
  }
  .logo {
    display: flex;
    img {
      margin: auto;
      max-width: 100%;
    }
  }
  .tournament-column {
    width: calc( calc(100% - 6rem) / 4 * 3 + 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media only screen and (max-width: 1100px) {
      width: 100%;
    }
    @media only screen and (max-width: 450px) {
      gap: 1rem;
    }
  }
  
  .hall-of-fame {
    font-size: .9rem;
    @media only screen and (max-width: 1100px) {
      width: 100%;
    }
    .fa {
      font-size: inherit;
      color: inherit;
    }
    .hof-icon {
      font-size: 3rem;
      color: var(--emphase-color);

    }
    .hof-title {
      margin-bottom: 1rem;
    }
    .champion {
      color: var(--emphase-color);
      font-weight: var(--black);
    }
    .player-name {
      
    }
    .player-victory {
      
    }
    ol {
      text-align: left;
      li {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-radius: var(--border-radius);
        transition: 1s;
        .fa {
          margin: 0;
        }
        &:hover {
          background-color: rgba(255,255,255,.1);
          transition: .2s;
        }
        &:hover .fa {
          transform: scale(1.4);
        }
      }
    }
  }
}

.tournaments {
  display: flex;
  // padding: 1rem 2rem;
  padding: 0;
  .tournaments-list {
    flex:1;
    padding: 1rem 2rem;
  }
  .tournaments-filter {
    position: sticky;
    top: 1rem;
    width: 15rem;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    margin: 1rem;
    margin-right: 2rem;
    padding: 2rem;
    align-self: flex-start;
    @media only screen and (max-width: 870px) {
      position: fixed;
      z-index: 98;
      top: var(--header-height);
      right: 0;
      display: none;
    }
    h3 {
      margin: 0;
      margin-top: 1rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem 0;
      li:first-child label {
        font-weight: var(--normal);
      }
    }
    label {
      font-weight: var(--fine);
    }
    input[type="checkbox"] {
      margin-right: .5rem;
    }
  }
  section {
    padding: 1rem 0;
    .title-h2 {
      position: sticky;
      top: -1rem;
      z-index: 55;
      background-color: var(--bg-color);
      padding: 2rem;
      margin: 0 -2rem;
    }
  }
  .archived-tournaments {
    .title-h2{
      background-image: url(../../assets/img/bg-archived-tournaments.png);
      background-repeat: repeat;
      background-size: 10px;
      background-attachment: fixed;
    }
    background-image: url(../../assets/img/bg-archived-tournaments.png);
    background-repeat: repeat;
    background-size: 10px;
    background-attachment: fixed;
    padding: 2rem;
    padding-top: 0;
    margin:0 -2rem -2rem -2rem;
  }
  .tournament-card {
    margin: 2rem 0;
  }
}


.tournament-card {
  display: block;
  min-height: 10rem;
  position: relative;
  border-radius: var(--border-radius);
  outline: solid 0 var(--emphase-color);
  transition: outline .1s;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
  }
  .tournament-hover {
    width: auto;
    height: auto;
    bottom: var(--margin-base);
    right: var(--margin-base);
    top: initial;
    left: initial;
    background-color: var(--main-color);
    padding: var(--margin-base);
    font-weight: var(--fine);
    opacity: 0;
    transform: translateY(.5rem);
    transition: .4s;
  }
  &:hover {
    outline: solid var(--border-size) var(--emphase-color);
    .tournament-hover {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .tournament-background {
      background-size: cover;
      background-position: right -1rem center;
      background-repeat: no-repeat;
      background-color: var(--main-color);
  }
  &.state-1 .tournament-special {
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    border-radius: calc(var(--border-radius) * 2);
    outline: solid 10px transparent;
    overflow: hidden;
    @media only screen and (max-width: 450px) {
      width: calc(100% + .4rem);
      height: calc(100% + .4rem);
      top: -.2rem;
      left: -.2rem;
      border-radius: calc(var(--border-radius) * 1.2);
    }
    @keyframes animBg {
      0% {background-position: 0 0% ;}
      100% {background-position: 1000px 0% ;}
    }
    &::after {
      content:"";
      animation: animBg 3s infinite linear;
      position: absolute;
      background-image: url(../../assets/img/bg-special-01.png);
      background-size: 1000px 100%;
      background-repeat: repeat;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      transform-origin: center;
    }
  }
  .tournament-layer {
    background: linear-gradient(90deg, var(--main-color) 40%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    @media only screen and (max-width: 450px) {
      width: 100%;
      background: linear-gradient(0deg, var(--main-color) 30%, rgba(0,0,0,0) 100%);
    }
  }
  .tournament-text {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    &::before {
      font-family: FontAwesome;
      font-size: 2rem;
      position: absolute;
      left: var(--margin-base);
      bottom: 0;
      text-shadow: 0 0 2px black;
      @media only screen and (max-width: 450px) {
        left: initial;
        bottom: initial;
        right: var(--margin-base);
        top: var(--margin-base);
      }
    }
    &.SH::before{ content:"\f183"; }
    &.SD::before{ content:"\f182"; }
    &.DH::before{ content:"\f183\f183"; }
    &.DD::before{ content:"\f182\f182"; }
    &.DX::before{ content:"\f182\f183"; }
    @media only screen and (max-width: 450px) {
      flex-direction: column;
    }
  }
  .tournament-info {

  }
  .tournament-icon {
    color:var(--emphase-color);
    font-size: 3rem;
  }
  .tournament-status {
    font-weight: 300;
  }
  .tournament-name {
    font-size: 2rem;
    color: var(--emphase-color);
  }
  .tournament-discipline {
    font-size: .8rem;
    margin-bottom: 1rem;
  }
  .tournament-players-count {
    font-size: .8rem;
  }
  .tournament-match {
    font-size: .8rem;
  }
  .tournament-date {
    font-weight: var(--black);
    text-transform: capitalize;
  }
}

.club {
  .club-card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    min-height: 10rem;
    position: relative;
  
    .club-name {
      color: var(--emphase-color);
      font-size: 2rem;
      padding-bottom: 1rem;
      }
    .club-avatar {
        position: absolute;
        right: 2rem;
        @media only screen and (max-width: 450px) {
          max-width: 6rem;
        }
      }
    li {
      display: flex;
      flex-direction: column;
      color: var(--emphase-color);
      padding: 0.8rem 0;
      }
    span {
      color: var(--ligth-color-text);
      padding-top: 0.5rem;
    }
  }
}

.login-page {
  background-image: url(../../assets/img/login-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--ligth-color-text);
  background-color: var(--bg-color);
  height: 100vh;

  img {
    display: block;
    max-width: 100%;
  }

  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding:1rem;

      .logo-tournament {
        max-width: 20rem;
        margin-bottom: 1rem;
        transition: filter .2s;
        @media only screen and (max-width: 810px) {
          margin: auto;
        }
        
      }
      .logo-tournament:hover {
        filter: drop-shadow(0 0 100px var(--ligth-color-text));
      }

      .login-form {
        flex-shrink: 1;
        margin: 0 auto;
        text-align: center;
      }

      .login-form h1 {
        font-size: 2.5rem;
        font-weight: 900;
      }
      .login-form h1 span {
        color:#bf9c5a;
      }
      .login-form .non-necessary-label {
        font-size: 0;
      }
      .login-form .text-input,
      .login-form .button-input{
        font-size: 1.2rem;
        display: block;
        width: 100%;
        line-height: 3.5rem;
        padding: 0 1rem;
        padding-left: 4rem;
        border-radius: 20rem;
        border: solid .35rem white;
        background-color: transparent;
        color:white;
        outline: none;
        background-repeat: no-repeat;
        background-position: .7rem center;
        transition: .2s;
      }
      .login-form .text-input:focus,
      .login-form .button-input:focus {
        border-color: #bf9c5a;
        background-position: .9rem center;
      }
      .login-form .login-input {
        background-image: url(../../assets/img/login-input-bg.png);
      }
      .login-form .password-input {
        background-image: url(../../assets/img/password-input-bg.png);
      }
      .login-form .rememberme {
        font-size: 1.3rem;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      .login-form .rememberme input {
        width: 1.3rem;
        height: 1.3rem;
        outline: none;
      }
      .login-form .submit-input {
        padding:0 1rem;
        color: #bf9c5a;
        border-color: #bf9c5a;
        font-size: 1.5rem;
        font-weight: 900;
        cursor: pointer;
        transition: .2s;
      }
      .login-form .submit-input:hover,
      .login-form .submit-input:focus {
        color: white;
        background-color: #bf9c5a;
        box-shadow: 0 0 30px rgba(255,255,255,.3);
      }
      .help-links {
        text-align: left;
        padding: 2rem;
        font-size: .8rem;
      }
      .help-link a {
        display: block;
        padding: .4rem 0;
      }
      .help-link a:hover {
        color: #bf9c5a;
      }
      footer {
        text-align: right;
        border-top: solid .1rem rgba(255,255,255,.3);
        padding: 1rem;
        font-size: .7rem;
        @media only screen and (max-width: 810px) {
          text-align: center;
        }
      }
      ::placeholder {
        color: lightgray
      }
  }
}

.profil {
  .wrapper {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 810px) {
      flex-direction: column;
    }
  }
  .section-title {
    color: var(--emphase-color);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .infos, .stats {
    span {
      color: var(--ligth-color-text);
    }
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    min-height: 10rem;
    width: 49%;
    @media only screen and (max-width: 810px) {
      width: 100%;
    }
  }
  .avatar {
    background-color: var(--bg-color);
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
  }
  .infos {
    span {
      padding-top: 0.5rem;
    }
  }
  .stats {
    li {
      flex-direction: row;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    color: var(--emphase-color);
    padding: 0.8rem 0;
  }
  .action-btn {
    text-align: center;
    width: auto!important;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: solid var(--border-size) var(--emphase-color);
    font-weight: var(--black);
    font-size: 1.2rem;
    color: var(--emphase-color);
    transition: .2s cubic-bezier(.82,.21,.1,1.02);
    &:hover {
      background-color: var(--emphase-color);
      color: var(--ligth-color-text);
    }
    @media only screen and (max-width: 1100px) {
      width: 100%!important;
    }
  } 
}

// 404
.app-error {
  position: relative;
  .cat-404 {
    position: absolute;
    bottom: 0;
    right: 0;
    @media only screen and (max-width: 450px) {
      width: 100%;
    }
  }
}

.members {
  .wrapper {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
  }

  &-search {
    // position: relative;
    width: 49%;
    display: block;
    padding: .5rem 1rem;
    border: solid 1px rgba(255,255,255,.3);
    &:focus {
      border-color: var(--emphase-color);
      outline: none;
    }
    // &::before {
    // font-family: "Font Awesome";
    // content: "\f002";
    // position: absolute;
    // }
    @media only screen and (max-width: 810px) {
      width: 100%!important;
    }
  }  

  .action-btn {
    text-align: center;
    // width: auto!important;
    width: 49%;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: solid var(--border-size) var(--emphase-color);
    font-weight: var(--black);
    font-size: 1.2rem;
    color: var(--emphase-color);
    transition: .2s cubic-bezier(.82,.21,.1,1.02);
    &:hover {
      background-color: var(--emphase-color);
      color: var(--ligth-color-text);
    }
    @media only screen and (max-width: 810px) {
      width: 100%!important;
    }
  }  
  .members-list {
    li:nth-child(odd){
      background-color: rgba(0,0,0,.2);
    }
  }

  .members-list-item {
    &:hover {
      background-color: rgba(0,0,0,.3);
    }
    display: flex;
    padding: 1rem;
    :last-child {
      margin-left: auto;
    }
  }

  &-name, &-gender, &-email, &-phone {
    // padding: 0.5rem 5rem 0.5rem 0; 
    width: 25%;
  }

  &-name {
    font-weight: var(--bold);
  }

  @media only screen and (max-width: 810px) {

    align-items: center;

    &-search {
      margin: 0 0 1rem 0;
      padding: 1rem 1.5rem;
    }
    .wrapper {
      flex-direction: column;
    }
    &-email, &-phone {
      display: none; 
    }
    &-name, &-gender {
      width: 100%;
    }
  }
}


.add-members-form,
.add-tournament-form  {
  
  .input-line {
    margin:1rem 0;
    overflow: hidden;

    input, button, select, textarea {
      width: 100%;
    }
    input[type="checkbox"] {
      display:initial;
      width: auto;
      margin: var(--margin-base);
      transform: scale(1.5);
      outline: none
    }
    input[type="file"]::-webkit-file-upload-button {
      color: black;
      background-color: white;
      border: none;
      padding: .2rem  .5rem;
    }
  }
  .img-preview{
    img {
      width: 100%;
      max-height: 20rem;
      display: block;
      object-fit: cover;
      object-position: center;
      border-radius: var(--border-radius);
      border: solid 1px rgba(255,255,255,.3);
    }
   }
  .checkbox-line {
    padding: 1rem;
    label {
      display: initial;

    }
  }
  // surement a sortir en global
  .action-btn {
    width: auto!important;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: solid var(--border-size) var(--emphase-color);
    font-weight: var(--black);
    font-size: 1.2rem;
    color: var(--emphase-color);
    transition: .2s cubic-bezier(.82,.21,.1,1.02);
    &:hover {
      background-color: var(--emphase-color);
      color: var(--ligth-color-text);
    }
    @media only screen and (max-width: 1100px) {
      width: 100%!important;
    }
  } 
  input, select, textarea {
    display: block;
    padding: .5rem 1rem;
    border: solid 1px rgba(255,255,255,.3);
    &:focus {
      border-color: var(--emphase-color);
      outline: none;
    }
  }
  :disabled {
    color:rgba(255,255,255,.2);
    font-style: italic;
  }
  select {
    background-color: var(--header-color);
  }
  label {
    display: block;
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  .mass-add {
    .input-line {
      display: flex;
      align-items: center;
      gap: 1rem;
      input {
        width: 20rem;
      }
    }
    padding: 2rem;
  }
  .single-add {
    background-color: var(--header-color);
    padding: 2rem;
    border-radius: var(--border-radius);
  }
  #address {
    height: 11.6rem;
  }
}

.help {
  .question-card {
    display: block;
    background-color: var(--main-color);
    // padding: 2rem;
    margin: var(--margin-base) 0;
    border-radius: var(--border-radius);
    min-height: 2rem;
    background-size: 60%;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    position: relative;
    @media only screen and (max-width: 450px) {
      background-size: 100%;
    }
    &:hover {
      outline: solid var(--border-size) var(--emphase-color);
    }
  }
  details > summary {
    font-weight: var(--bold);
    font-size: 1.3rem;
    padding: 2rem;
    cursor: pointer;
  }
  details > p {
    padding: 0 2rem 2rem 2rem;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes fade {
    0% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  font-size: 2em;
  animation: fade .75s infinite alternate;
}

.member {
  .wrapper {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 810px) {
      flex-direction: column;
    }
  }
  .section-title {
    color: var(--emphase-color);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .avatar {
    background-color: var(--bg-color);
    width: 8rem;
    height: 10rem;
    position: absolute;
    right: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
  }
  &-card, &-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    min-height: 10rem;
    width: 49%;
    @media only screen and (max-width: 810px) {
      width: 100%;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    color: var(--emphase-color);
    padding: 0.8rem 0;
  }
  span {
    color: var(--ligth-color-text);
    padding-top: 0.5rem;
  }
  .action-btn {
    text-align: center;
    width: auto!important;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: solid var(--border-size) var(--emphase-color);
    font-weight: var(--black);
    font-size: 1.2rem;
    color: var(--emphase-color);
    transition: .2s cubic-bezier(.82,.21,.1,1.02);
    &:hover {
      background-color: var(--emphase-color);
      color: var(--ligth-color-text);
    }
    @media only screen and (max-width: 1100px) {
      width: 100%!important;
    }
  } 
}


// Toast messages component
.toast-messages {
  font-size: .9rem;
  z-index: 9999;
  position: fixed;
  top: var(--header-height);
  right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: .5rem;
  .toast {
    position: relative;
    background-color: grey;
    padding: calc(var(--margin-base) * 2);
    border-radius: var(--border-radius);
    .close-icon {
      position: absolute;
      top: .7rem;
      right: .7rem;
    }
  }
  .error {
    background-color: red;
  }
  .success {
    background-color: green;
  }
}
