:root {
  --main-color: #061B38;
  --emphase-color: #BF9C5A;
}

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: lightseagreen;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: lightgray;
  width: 100%;
  height: 6rem;
}

.menu {
  background-color: var(--main-color);
  height: calc(100% - 6rem);
  width: 18rem;
  padding: 2rem 0;
  font-size: 1.2em;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    li:last-child {
      margin-top: auto;
    }
  }
  .menu-link {
    display: block;
    color: white;
    padding: 1em;
    margin: .1em 0;
    border-right: solid 0rem var(--emphase-color);
    transition: border .2s, background-color .1s;
    &:hover {
      background-color: rgba(255,255,255,.1);
    }
    &--selected {
      color : var(--emphase-color);
      background-color: rgba(255,255,255,.1);
      border-right: solid .8rem var(--emphase-color);
    }
  }
}

.content {
  width: calc(100% - 18rem);
}

.dashboard {
  background-color: lightcoral;
}

.tournaments {
  background-color: lightpink;
}


