:root {
  // colors variables
  --bg-color: #1A2F4C;
  --main-color: #061B38;
  --emphase-color: #BF9C5A;
  --header-color: #16273E;
  --ligth-color-text: #FFFFFF;

  // margin variables
  --margin-base: 1rem;
}

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

input {
  color: inherit;
  font-family: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

.app {
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: var(--header-color);
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--ligth-color-text);

  &-logo {
    padding: 0 1rem 0 2rem;
  }

  &-club-name {
    font-weight: bold;
    font-size: 3rem;
  }

  &-user-welcome {
    line-height: 6rem;
    padding: 0 2rem;
  }

  &-user-menu {
    margin-left: auto;
    position: relative;

    &-pannel {
      display: none;
      position: absolute;
      background-color: var(--ligth-color-text);
      right: 0;
      padding: 1rem;
      box-shadow: 0 10px 8px rgba(0,0,0,.2);

      .user-image {
        background-color: blue;
        border-radius: 10px;
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

        
        
        .pannel-link {
          width: 10rem;
          padding: 0.5rem 0;
          display: block;
          color: var(--header-color);
        }

        .pannel-link:hover {
          text-decoration: underline;
        }
      
    }
  }

  &-user-menu:hover {
    color: var(--header-color);
    background-color: #FFFFFF;

    .header-user-menu-pannel {
      display: flex;
      align-items: center;
    }
  }

  &-member-firstname {
    font-weight: bold;
  } 
}

.menu {
  background-color: var(--main-color);
  height: calc(100% - 6rem);
  width: 18rem;
  padding: 2rem 0;
  font-size: 1.2em;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    li:last-child {
      margin-top: auto;
    }
  }
  .menu-link {
    display: block;
    color: white;
    padding: 1em;
    margin: .1em 0;
    border-right: solid 0rem var(--emphase-color);
    transition: border .2s, background-color .1s;
    &:hover {
      background-color: rgba(255,255,255,.1);
    }
    &--selected {
      color : var(--emphase-color);
      background-color: rgba(255,255,255,.1);
      border-right: solid .8rem var(--emphase-color);
    }
  }
}

.content {
  width: calc(100% - 18rem);
}

.dashboard {
  background-color: lightcoral;
}

.tournaments {
  background-color: lightpink;
}


.login-page {
  background-image: url(../../assets/img/login-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--ligth-color-text);
  background-color: var(--bg-color);
  height: 100vh;

  img {
    display: block;
    max-width: 100%;
  }

  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding:1rem;

      .logo-tournament {
        max-width: 20rem;
        margin-bottom: 1rem;
        transition: filter .2s;
        @media only screen and (max-width: 810px) {
          margin: auto;
        }
        
      }
      .logo-tournament:hover {
        filter: drop-shadow(0 0 100px var(--ligth-color-text));
      }

      .login-form {
        flex-shrink: 1;
        margin: 0 auto;
        text-align: center;
      }

      .login-form h1 {
        font-size: 2.5rem;
        font-weight: 900;
      }
      .login-form h1 span {
        color:#bf9c5a;
      }
      .login-form .non-necessary-label {
        font-size: 0;
      }
      .login-form .text-input,
      .login-form .button-input{
        font-size: 1.2rem;
        display: block;
        width: 100%;
        line-height: 3.5rem;
        padding: 0 1rem;
        padding-left: 4rem;
        border-radius: 20rem;
        border: solid .35rem white;
        background-color: transparent;
        color:white;
        outline: none;
        background-repeat: no-repeat;
        background-position: .7rem center;
        transition: .2s;
      }
      .login-form .text-input:focus,
      .login-form .button-input:focus {
        border-color: #bf9c5a;
        background-position: .9rem center;
      }
      .login-form .login-input {
        background-image: url(../../assets/img/login-input-bg.png);
      }
      .login-form .password-input {
        background-image: url(../../assets/img/password-input-bg.png);
      }
      .login-form .rememberme {
        font-size: 1.3rem;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      .login-form .rememberme input {
        width: 1.3rem;
        height: 1.3rem;
        outline: none;
      }
      .login-form .submit-input {
        padding:0 1rem;
        color: #bf9c5a;
        border-color: #bf9c5a;
        font-size: 1.5rem;
        font-weight: 900;
        cursor: pointer;
        transition: .2s;
      }
      .login-form .submit-input:hover,
      .login-form .submit-input:focus {
        color: white;
        background-color: #bf9c5a;
        box-shadow: 0 0 30px rgba(255,255,255,.3);
      }
      .help-links {
        text-align: left;
        padding: 2rem;
        font-size: .8rem;
      }
      .help-link a {
        display: block;
        padding: .4rem 0;
      }
      .help-link a:hover {
        color: #bf9c5a;
      }
      footer {
        text-align: right;
        border-top: solid .1rem rgba(255,255,255,.3);
        padding: 1rem;
        font-size: .7rem;
        @media only screen and (max-width: 810px) {
          text-align: center;
        }
      }
      ::placeholder {
        color: lightgray
      }
  }
}
